body {
  margin: 40px;
}

.container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: auto auto;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.a {
  grid-column: 1 / span 3;
  text-align: center;
}

.b {
  grid-column: 1 / span 2;
  grid-row: 2;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(2, 100px);
}

.c {
  grid-row: 2;
  text-align: center;
}

button {
  font: bold 24px Arial;
  background-color: black;
  color: lime;
  padding: 2px 6px 2px 6px;
  border-radius: 10px;
  border: 1px solid #CCCCCC;
}

#lead-photo {
  width: 300px;
  margin: auto;
  padding: 1em;
  border-radius: 50px;
}
